<html>
  <head>
    <title>ジオジオスタンプラリー</title>
  </head>
  <body>
    <h1>ジオジオスタンプラリー</h1>
    <% @groups.each do |group| %>
    <h2><%=h group.name %></h2>
    <% group.users.each do |user| %>
    <h2><%=h user.name %></h3>

    <h3>写真</h2>
    <% user.photos.each do |photo| %>
    <%= link_to(image_tag(photo.url_thumbnail, :size => '100x100'), photo.url, {:class => 'highslide', :onclick => 'return hs.expand(this)'}) %>
    <% end %>

    <h3>つぶやき</h2>
    <% user.statuses.each do |status| %>
    <%= link_to(status.status_text, "http://twitter.com/#{user.twitter_id}/status/#{status.status_id}") %>
    <% end %>

    <% end %>
    <% end %>
  </body>

<!-- Highside JS -->
<script type="text/javascript" src="/javascripts/highslide/highslide.js"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/highslide/highslide.css" />
<script type="text/javascript">
	hs.graphicsDir = '/javascripts/highslide/graphics/';
	hs.wrapperClassName = 'wide-border';
</script>
</html>

